<ion-card class="game-edit">
  <ion-card-header style="padding:0;">
        <ion-row>
           {{game.match_time}}
        </ion-row>

        <ion-row>
            <ion-col>
                <h4>{{game.home.name}}</h4>
            </ion-col>
            <ion-col>
                <h4>{{game.away.name}}</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-25>
                <a (click)="team='home'">
                    <img src="{{storage.get('teams', game.home.name, 'imageurl')}}" alt="{{game.home}}">
                </a>
                <br>
            </ion-col>
            <ion-col width-25 *ngIf="nhidden === $index || game.home_score">
                <div class="score-padding" (click)="team='home'">
                    <h1 score (click)="isHome=true;"> 
                            {{homeplayers.length}}
                            </h1>
                </div>
            </ion-col>

            <ion-col width-25>
                <a (click)="team='away'">
                    <img src="{{storage.get('teams', game.away.name, 'imageurl')}}" alt="{{game.away}}">
                </a>
                <br>
            </ion-col>
            <ion-col width-25 *ngIf="nhidden === $index || game.away_score">
                <div class="score-padding" (click)="team='away'">
                    <h1 score (click)="isHome=false;">
                                {{awayplayers.length}}
                            </h1>
                </div>
            </ion-col>
        </ion-row>
  </ion-card-header>
<ion-card-content style="margin: -15px;font-size: 1.2rem;" *ngIf="selected===game.name">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="#player of homeplayers">
                        {{player}}
                    </ion-item>
                </ion-list>
                <button (click)="isHome='home'"  style="margin: 0px;font-size: 1.2rem;">Add Home Scorer</button>
            </ion-col>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="#player of awayplayers">
                        {{player}}
                    </ion-item>
                </ion-list>
                <button (click)="isHome='away'" style="margin: 0px;font-size: 1.2rem;">Add Away Scorer</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isHome==='home'">
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="#player of storage.get('teams', game.home.name, 'players') | o2a" (click)="addPlayer(player)">
                        {{player}}
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isHome==='away'">
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="#player of storage.get('teams', game.away.name, 'players') | o2a" (click)="addPlayer(player)">
                        {{player}}
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>


        <!--ion-thumbnail item-left>
                    <img src="{{game.imageurl}}">
                </ion-thumbnail>
                <h2>{{game.name}}</h2>
                <h3>Players:</h3>
                <p *ngFor="#player of players | o2a">{{player}}</p>
            </ion-item>
            <ion-item>
                <label class="item item-input">
                    <input type="text" placeholder="Player Name" [(ngModel)]="newPlayer">
                </label>
            </ion-item>
            <ion-item>
                <button class="button button-full button-positive" (click)="addPlayer()">
                    Add
                </button-->
  </ion-card-content>
</ion-card>