#backpack {
    background: green;
    height: 100%;
}
#backpack  > ion-row {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
#backpack > ion-row > ion-col > ion-icon {
    background-color: tomato;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}


#tool-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}