<style>
    .name-input {
        margin: 0;
        border-bottom: grey 1px groove;
    }
    
    .image-input {
        padding-left: 10px;
        padding-left: 10px;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    .image-input ion-thumbnail {
        position: absolute;
        float: left;
        left: 15px;
        margin-top: -10px;
    }
    .team {
        padding-left: 0;
        margin-top: 10px;
    }
    .team .team-lable {
        margin-left: 10px;
    }
</style>
<section *ngIf="type==='name'">
    <ion-label stacked>{{type}}</ion-label>
    <input class="name-input text-input" type="text" [(ngModel)]="object[type]">
</section>
<section *ngIf="type==='imageurl'" class="image-input">
    <ion-thumbnail>
        <img [src]="object[type]">
    </ion-thumbnail>
    <ion-label stacked>{{type}}</ion-label>
    <input class="name-input text-input " type="text " [(ngModel)]="object[type]">
</section>

<section *ngIf="type==='home' || type==='away'" class="item team">
    <ion-thumbnail>
        <img src="{{storage.teamArray[object[type]].imageurl}}">
    </ion-thumbnail>
    <ion-label class="team-lable" stacked>{{type}} Team:</ion-label>
    <ion-select [(ngModel)]="object[type]">
        <ion-option *ngFor="#team of storage.teamArray | async" [value]="team.name">{{team.name}}</ion-option>
    </ion-select>
</section>


<!--ilabel *ngIf="type==='home' || type==='away'" class="item item-input item-select">
    <div class="input-label">
        {{type}} Team:
    </div>
    <on-select [(ngModel)]="object[type]">
        <ion-option *ngFor="#team of teams | o2a" [value]="team.name">{{team.name}}</ion-option>
    </ion-select>
</label-->
