<ion-content>
    <ion-col id="main">
        <video-window class="video-container">
            <iframe src="https://www.youtube.com/embed/{{selectedVideo}}" frameborder="0" allowfullscreen></iframe>
        </video-window>
        <video-text>

            <ion-list>
                <ion-item ion-item *ngFor="#p of app.videos" (click)="openVideo(p)">
                    <ion-icon name="{{p.icon}}" item-left></ion-icon>
                    {{p.title}}
                    <!--ion-icon name="ios-help-circle" item-right></ion-icon-->
                </ion-item>
            </ion-list>

        </video-text>
    </ion-col>
</ion-content>
<gamebar></gamebar>