// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import url(https://fonts.googleapis.com/css?family=Handlee);

@import "../pages/sensors/sensors";
@import "../pages/video/video";
@import "../pages/wikipedia/wikipedia";
@import "../pages/start/start";
@import "../pages/notes/notes";
@import "../pages/secretmissions/secretmissions";
@import "../components/status/status";
@import "../components/analysis/analysis";
@import "../components/map/map";
@import "../pages/backpack/backpack";
@import "../pages/messages/messages";
@import "../components/toolbar/toolbar";
