<status [userTotal]="story.story.userTotal" [pointsTotal]="story.story.pointsTotal"></status>
<ion-content>
    <ion-col id="main">
        
         <div class="item item-avatar">
         <img src="img/Aquarium.png">
        </div> 
<ion-list>
    <h1>Try to Find the Secret Clues!</h1>
    <ion-item *ngFor="#c of story.story.clueTool.clues">
       <p *ngIf="c.found" >Clue Unlocked::{{c.text}}</p>
       <p *ngIf="!c.found">{{c.location}}</p>
    </ion-item>
    <ion-buttons>
       <button (click)=clearClues()>
          <ion-icon></ion-icon>Clear Clues
       </button>
       <button danger (click)="cheat();next()">
          <ion-icon></ion-icon>Cheat
       </button>
     </ion-buttons>
 </ion-list>

        <video-text *ngIf="isCompleted()">
            <ion-buttons>
                <button (click)=next()>
                    <ion-icon></ion-icon>Next
                </button>
            </ion-buttons>
        </video-text>
    </ion-col>

</ion-content>

<gamebar></gamebar>