.stage {
  width: 47%; height: 100px; background: #efefef; margin: 0 1%;
  border: 1px solid #111; float: left; box-sizing: border-box; position: relative; overflow: hidden;
  
  div { 
    width: 50px; height: 100px;
    background: #7a3; position: absolute;
    
    &.obj01 {
      left: 50%; margin-left: -25px;
      animation: fade-in 5s 2s infinite;
    }
    
    &.obj02 {
      animation: walk-in ease-in-out 5s infinite;
    }
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes walk-in {
  from { left: -100px; }
  to { left: calc(100%); }
}
