<status></status>

<ion-content>
    <section id="game">
        <ion-col id="main">
            <video-window>
                <img [src]="background">
            </video-window>
            <video-text>
            </video-text>
        </ion-col>
    </section>

    <ion-list>
        <!--ion-item>
            <ion-label>{{app.test.question}}</ion-label>
            <ion-select [(ngModel)]="month">
                <ion-option *ngFor="#test of app.test.answers" [value]="test.text">{{test.text}}</ion-option>
            </ion-select>
        </ion-item-->
        
        <quiz [question]="question" 
              [answers] ="answers"
              [answer] = "answer" 
              (result) = "checkResult()"
        > </quiz>

        <toolbar>
            <button (click)="advanceScene()">Valudate</button>
        </toolbar>
    </ion-list>
</ion-content>
 