<status [userTotal]="story.story.userTotal" [pointsTotal]="story.story.pointsTotal"></status>

<ion-content id="messages">
  <div *ngFor="#m of dialog; #index=index;#isOdd=odd;#isEven=even">
    <div [class]="isOdd?'chatrowl':'chatrow'">
      <div [class]="isOdd?'usericonl':'usericon-r'">
          <img *ngIf="m.character==='Ella'" 
                [src]="story.story.userPicture" height="42" width="42" />
          
          <img *ngIf="m.character!=='Ella'" 
                [src]="m.image" height="42" width="42" />
      </div>
      <div [class]="isOdd?'bubblel':'bubbler'">
          
        <div [class]="isEven?'bubblealt':'bubble'">{{getName(m)}}</div>

        <audio *ngIf="m.audio" [src]="m.audio" autoplay type="audio/wave"></audio>
        
      </div>
    </div>
  </div>
  <ion-list class="next">
    <ion-item>
      <button outline item-right (click)="next()">
        <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
        Next
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<gamebar></gamebar>
