#backpack {
  background: url(../../img/tile.png) repeat;
  height: 100%;

  h1 {
    width: 90%;
    margin: 10px auto 0;
    font: 38px 'Handlee';
  }

  ion-row {
    justify-content: center;
    padding: 0;

    ion-col > ion-icon {
      border: 1px solid rgba(255, 255, 255, 0.8);
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background: #fff5b3;
      padding: 5px;
      width: 100px;
      height: 100px;
      margin: 5px;
      text-align: center;

      i {
        display: block;
        padding-top: 55px;
        height: 50px;
        position: relative;
        color: #903f98;
        font: 14px 'Handlee', cursive;

        &:before {
          position: absolute;
          top: 10px;
          left: 50%;
          margin-left: -20px;
          font: 42px 'icomoon';
        }

        &.icon-dice:before {
            content: "\e902";
        }
        &.icon-magGlass:before {
            content: "\e903";
        }
        &.icon-map:before {
            content: "\e904";
        }
        &.icon-phTestingKit:before {
            content: "\e905";
        }
        &.icon-rock:before {
            content: "\e906";
        }
        &.icon-thermometer:before {
            content: "\e907";
        }
        &.icon-vial:before {
            content: "\e908";
        }
        &.icon-video:before {
            content: "\e900";
        }
        &.icon-wikkepedia:before {
            content: "\e901";
        }

      }

    }

  }
}


// fonts

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?uxa217');
    src:    url('../fonts/icomoon.eot?uxa217#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?uxa217') format('truetype'),
        url('../fonts/icomoon.woff?uxa217') format('woff'),
        url('../fonts/icomoon.svg?uxa217#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
