<ion-toolbar position="bottom">
    <ion-buttons id="game-bar">
        <bar>
            <button clear class="messages" (click)="open('Messages')">
                Messages
            </button>
            <button clear class="backpack" (click)="open('Backpack')">
                Backpack
            </button>
            <button clear class="notes" [style.background-color]="alertNotes" (click)="open('Notes')">
                Notes
            </button>
            <button clear class="help" (click)="open('Help')">
                Help
            </button>
        </bar>
    </ion-buttons>
</ion-toolbar> 