.toolbar {
  min-height: 120px;
}
#game-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  min-height: 110px;
  font-family: 'Handlee', cursive;
  display: block;
  align-items: center;
  justify-content: center;

  bar { display: block; }

  button {
    padding-top: 80px;
    height: 100px;
    width: 23%;
    background: url(../../img/footerSprite.png) no-repeat;
    color: #333;

    &.messages {
      background-position: center 10px;
    }
    &.backpack {
      background-position: center -100px;
    }
    &.notes {
      background-position: center -215px;
    }
    &.help {
      background-position: center -330px;
    }
  }

}


#game {
    height: 100%;
}
#main {
    padding: 0;
    height: 100%;
}
#menu {
    right: 0;
    position: absolute;
    top: 44px;
    height: 100%;
}
video-window {
    height: 66%;
    display: flex;
}
video-text { 
    height: 100%;
    width: 100%;
    display: flex;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top:3 0px;
  height: 0;
  overflow: hidden;
}
#game {
    
}
#main{
    
}
.video-container iframe, 
.video-container object, 
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
