.toolbar {
  min-height: 120px;
}
#game-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  min-height: 110px;
  font-family: 'Handlee', cursive;

  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  display: block;
  align-items: center;
  justify-content: center;

  bar { display: block; }

  button {
    padding-top: 80px;
    height: 100px;
    width: 23%;
    background: url(../../img/footerSprite.png) no-repeat;
    color: #333;

    &.messages {
      background-position: center 10px;
    }
    &.backpack {
      background-position: center -100px;
    }
    &.notes {
      background-position: center -215px;
    }
    &.help {
      background-position: center -330px;
    }
  }

}
