<div class="tg-wrap">
    <table class="tg">
        <tr>
            <th class="tg-yw4l">Concern</th>
            <th class="tg-yw4l">Test to Run</th>
            <th class="tg-yw4l">Result</th>
        </tr>
        <tr *ngFor="#c of testing">
            <td class="tg-j2zy">{{c.concern}}#{{c}}</td>
            <td class="tg-j2zy">{{c.testText}}
                <button (click)="story.open(c.test)" >Run Test</button>
            </td>
            <td class="tg-j2zy" (click)=noop()>
                <input type="checkbox" [id]="c.id" [(ngModel)]="c.complete" >
            </td>
        </tr>
    </table>

    <ion-list *ngIf="isDone()">
        <ion-item>
            <button outline item-right (click)="next()">
                <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
                Next
            </button>
        </ion-item>
    </ion-list>
</div>