#start {
  background: black;
  color: white;

  header {
    background: url(../../img/aosHeader.png) no-repeat #3664ab center 0;
    padding-top: 57px;
    height: 0;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  #status-bar {
    border-radius: 10px;
  }
}
ion-navbar#game-nav {
  position: absolute;
  bottom: 0;
  height: 50px;
  top: initial;
}
ion-avatar img {
  max-width: 8.6rem;
  max-height: 8.6rem;
  border-radius: 1.8rem;
}
