#start {
  background: black;
  color: white;

  header {
    background: url(../../img/aos-header.png) #3664ab no-repeat center 0;
    height: 0;
    padding-top: 57px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  #status-bar {
    border-radius: 10px;
  }

  ion-card-header {
    font: 24px 'Handlee', cursive;
  }

  .tg-wrap {
    margin: 0 auto;

    .tg th {
      font: 16px 'Handlee', cursive;
    }

    .tg td, .tg th {
      border-color: #fff;
    }
  }
}

ion-navbar#game-nav {
  position: absolute;
  bottom: 0;
  height: 50px;
  top: initial;
}
ion-avatar img {
  max-width: 8.6rem;
  max-height: 8.6rem;
  border-radius: 1.8rem;
}
